* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;

}

section {
    scroll-margin: 104px;
}

html {
    scroll-behavior: smooth;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 256px;
    gap: 24px;
}

a {
    cursor: pointer;
}

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;

    color: #FFFFFF;

    align-self: center;
    border-radius: 8px;
    border: none;

    padding: 21px 47px;
}

.primary {
    background: #0075FF;
    box-shadow: 0 6px 23px 0 #0075FF75;
}

.primary:hover {
    background: #005ECC;
    box-shadow: 0 13px 27px 0 #0053B575;

}

.primary:active {
    background: #005ECC;
    box-shadow: 0 8px 14px 0 #0053B57A;
}

.secondary {
    color: #0075FF;: 2 px solid #0075FF
}

.secondary:hover {
    color: #FFFFFF;
    background: #005ECC;
    box-shadow: 0 13px 27px 0 #0053B575;
}

.secondary:active {
    color: #FFFFFF;
    background: #005ECC;
    box-shadow: 0 8px 14px 0 #0053B57A;
}


li {
    list-style: none;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
}

.header {
    position: relative;
    height: 100vh;
    background: url("assets/FirstSectionLayer.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.nav {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 20;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #0075FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility .3s;
}

body.menu-open .overlay {
    opacity: 1;
    visibility: visible;
}

body.menu-open .nav__phone {
    visibility: hidden;
}

.nav__burger {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("assets/Icon-Burger-menu.svg") no-repeat center center;
}

.nav__burger:hover {
    background: url("assets/Icon-Burger-menu-hover.svg") no-repeat center center;
}

body.menu-open {
    overflow: hidden;
}

body.menu-open .nav {
    position: fixed;
    top: 20px;
}

body.menu-open .nav__burger {
    background: url("assets/Icon-Close.svg") no-repeat center center;
}

.nav__logo {
    display: block;
    max-width: 136px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    background: url("assets/Logo_Miami.svg") no-repeat center center;
    background-size: cover;
    cursor: default;
}

.nav__phone-wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.nav__phone {
    display: block;
    width: 32px;
    height: 32px;
    background: url("assets/Icon-Phone-call.svg") no-repeat center center;
    cursor: default;
}

.nav__phone-number {
    position: absolute;
    right: 40px;
    white-space: nowrap;
    color: #fff;
    opacity: 0;
    transform: translateX(10px);
    pointer-events: none;
    transition: opacity 0.5s, transform 0.5s;
}

.nav__phone-wrap:hover .nav__phone-number {
    opacity: 1;
    transform: translateX(0px);
}

.header__title {
    text-align: left;
    margin: auto auto 80px auto;
}

.header__title > hr {
    width: 40px;
    height: 2px;
}

.header__title > h1 {
    font-size: 80px;
    letter-spacing: -1.5px;
    font-weight: 700;
    vertical-align: middle;
    color: #fff;
}

.intro {
    display: flex;
    justify-content: space-between;
    gap: 48px;

    margin-top: 104px;
}

.intro__title {
    max-width: 324px;
}

.intro h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    vertical-align: middle;
}

.intro h2 > span {
    color: #0075FF;
}

.textbox {
    max-width: 498px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.textbox h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;

    color: #0075FF;

}

.textbox p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;

    color: #3E3E3E;
}

.textbox span {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-top: 104px;
}

.title {
    height: 72px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title > h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
}

.title > img {
    width: 24px;
    height: 24px;
}


.gallery p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;

    color: #3E3E3E;

    margin-top: 24px;
}

.gallery p > span {
    font-weight: 700;
    color: #0075FF;
}

.photos {
    /*display: grid;*/
    /*grid-template-columns: repeat(6, 1fr);*/
    /*grid-template-rows: 256px;*/
    /*gap: 24px;*/
}

.photos div img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.first_group > .photos > :nth-child(1) {
    grid-column: span 8 / span 8;
    grid-column-start: 1;
}

.first_group > .photos > :nth-child(2) {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
}

.second_group > .photos > :nth-child(1) {
    grid-column: span 6 / span 6;
    grid-column-start: 1;
}

.second_group > .photos > :nth-child(2) {
    grid-column: span 6 / span 6;
    grid-column-start: 7;
}

.third_group > .photos > :nth-child(1) {
    grid-column: span 4 / span 4;
    grid-column-start: 1;
}

.third_group > .photos > :nth-child(2) {
    grid-column: span 8 / span 8;
    grid-column-start: 5;
}

.testimonials {
    margin-top: 104px;
}

.cards {
    display: flex;
    gap: 24px;

    margin-top: 56px;
}

.card {
    max-width: 324px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.card > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card_info > h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;

    color: #0075FF;
}

.card_info > .jobTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;

    color: #9FADC2;
}

.card_info > .about {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;

    color: #3E3E3E;
}

.contact {
    box-sizing: border-box;

    margin-top: 104px;
    margin-bottom: 104px;
}

.contactBox {
    display: flex;
    justify-content: space-between;

    margin-top: 69px;
}

.contactInfo {
    /*width: 411px;*/
    height: 148px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 111px;
}

.info {
    width: 150px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info > p:nth-child(1) {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0;

    color: #9FADC2;
}

.info > p:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;

    color: #3E3E3E;

}

.contact_form {
    width: 100%;
    max-width: 411px;

    display: flex;
    flex-direction: column;
    gap: 32px;

}

.form_input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.form_input > input {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;

    color: #000;

    border-radius: 8px;
    border: none;
    background: #F6F8FF;
    padding: 14px 17px;
}

.form_input > input:hover {
    outline: 2px solid #CCD0E0
}

.form_input > input:focus {
    outline: 2px solid #0075FF
}

.form_input input::placeholder {
    color: #9FADC2;
}


.form_input textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000;

    height: 144px;
    border-radius: 8px;
    border: none;
    background: #F6F8FF;
    padding: 14px 17px;

    resize: none;
}

.form_input textarea:hover {
    outline: 2px solid #CCD0E0
}

.form_input textarea:focus {
    outline: 2px solid #0075FF
}

.form_input textarea::placeholder {
    color: #9FADC2;
}


footer {
    position: relative;
    height: 359px;

    background: url("assets/footerImage.png") no-repeat center center;
    background-size: cover;
}

footer > .logo {
    display: block;
    width: 136px;
    height: 80px;
    background: url("assets/Logo_Miami.svg") no-repeat center center;
    cursor: default;

    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);
}

/*Стили для меню*/
.backgroundMenu {
    display: block;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;
    background: #0075FF;
}

.backgroundMenu {
    display: none
}

.backgroundMenu.active {
    display: block;
}

.menu-open {
    background: url("assets/Icon-Close.svg") no-repeat center center;
}

.overlay {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.overlay__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.overlay__list li > a {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.overlay__list li > a:hover {
    text-decoration: underline;
}

/*.overlay__contact {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.overlay__contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.overlay__contact li > a {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    text-decoration: none;

    color: #FFFFFF;
}

.overlay__contact li > a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/*Стили заканчиваются*/

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        max-width: 320px;
        margin: 0 20px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 131px;
        gap: 20px;
    }

    .nav {
        height: 48px;
        align-items: center;
    }

    .nav__logo {
        max-width: 82px;
        max-height: 48px;
    }

    .header__title {
        margin: auto auto 80px auto;
    }

    .header__title h1 {
        font-weight: 700;
        font-size: 46px;
        line-height: 40px;
        letter-spacing: -1px;
        vertical-align: middle;
    }

    .intro {
        flex-direction: column;
        margin-top: 64px;
    }

    .intro h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -1.5px;
        vertical-align: middle;
    }

    .intro h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0;
    }

    .intro p {
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0;
    }

    .intro p > span {
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0;
    }

    .gallery {
        margin-top: 64px;
    }

    .grid {

    }

    .first_group > .photos > :nth-child(1) {
        grid-column: span 1;
    }

    .first_group > .photos > :nth-child(2) {
        grid-column: span 1;
    }

    .second_group > .photos > :nth-child(1) {
        grid-column: span 1;
    }

    .second_group > .photos > :nth-child(2) {
        grid-column: span 1;
    }

    .third_group > .photos > :nth-child(1) {
        grid-column: span 1;
    }

    .third_group > .photos > :nth-child(2) {
        grid-column: span 1;
    }

    .gallery {
        gap: 32px;
    }

    .gallery p {
        font-size: 16px;
        line-height: 27px;

        margin-top: 16px;
    }

    .testimonials{
        margin-top: 64px;
    }

    .testimonials > .title > h2 {
        font-size: 36px;
        line-height: 36px;

    }

    .cards{
        flex-direction: column;
    }

    .card {
        gap: 24px;
    }

    .contact{
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .contact > .title > h2 {
        font-size: 36px;
        line-height: 36px;
    }

    .contactBox{
        flex-direction: column;
        gap:32px;
    }

    .contactInfo{
        height: auto;
        flex-direction: column;
    }

    .footer{
        height: 320px;
        bottom: 24px;
    }

    .footer > .logo{
        width: 82px;
        height: 48px;
    }
}